<section
  id="skills-section"
  class="section w-full flex flex-col items-center justify-center text-gray-200"
  data-header-color="#ab1313"
  data-color="transparent"
>
<div id="anchor-game-end"></div>
  <div class="w-full bg-white pt-40">
    <h1 class="text-4xl font-bold text-teal-800 text-center">
      Skills & Abilities
    </h1>
  </div>
  <div
    class="bg-white flex mx-auto w-full px-4 py-22 md:px-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center justify-center"
  >
    <!-- Programming Languages -->
    <div class="mb-10" id="skills">
      <h2 class="text-2xl font-semibold text-teal-600 mb-6 text-center">
        Programming Languages
      </h2>
      <div class="flex flex-wrap justify-center gap-4">
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >JavaScript</span
        >
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >TypeScript</span
        >
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Python</span
        >
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >PHP</span
        >
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >SQL</span
        >
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >XAML</span
        >
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >HTML</span
        >
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >CSS</span
        >
        <span
          class="bg-gradient-to-r from-teal-500 to-emerald-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >C#</span
        >
      </div>
    </div>

    <!-- Frameworks & Libraries -->
    <div class="mb-10">
      <h2 class="text-2xl font-semibold text-teal-600 mb-6 text-center">
        Frameworks & Libraries
      </h2>
      <div class="flex flex-wrap justify-center gap-4">
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >React.js</span
        >
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Node.js</span
        >
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Laravel</span
        >
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >FastAPI</span
        >
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Flask</span
        >
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Next.js</span
        >
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >.NET</span
        >
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >React Native</span
        >
        <span
          class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Expo</span
        >
      </div>
    </div>

    <!-- Databases -->
    <div class="mb-10">
      <h2 class="text-2xl font-semibold text-teal-600 mb-6 text-center">
        Databases
      </h2>
      <div class="flex flex-wrap justify-center gap-4">
        <span
          class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >SQL Server</span
        >
        <span
          class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >MySQL</span
        >
        <span
          class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >PostgreSQL</span
        >
        <span
          class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Oracle SQL</span
        >
      </div>
    </div>

    <!-- Tools & Cloud -->
    <div class="mb-10">
      <h2 class="text-2xl font-semibold text-teal-600 mb-6 text-center">
        Tools & Cloud
      </h2>
      <div class="flex flex-wrap justify-center gap-4">
        <span
          class="bg-gradient-to-r from-pink-500 to-rose-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >REST APIs</span
        >
        <span
          class="bg-gradient-to-r from-pink-500 to-rose-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Git</span
        >
        <span
          class="bg-gradient-to-r from-pink-500 to-rose-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Docker</span
        >
        <span
          class="bg-gradient-to-r from-pink-500 to-rose-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >AWS</span
        >
        <span
          class="bg-gradient-to-r from-pink-500 to-rose-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Apache</span
        >
        <span
          class="bg-gradient-to-r from-pink-500 to-rose-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Nginx</span
        >
        <span
          class="bg-gradient-to-r from-pink-500 to-rose-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >IIS</span
        >
      </div>
    </div>

    <!-- Practices -->
    <div>
      <h2 class="text-2xl font-semibold text-teal-600 mb-6 text-center">
        Practices
      </h2>
      <div class="flex flex-wrap justify-center gap-4">
        <span
          class="bg-gradient-to-r from-sky-500 to-blue-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Clean Code</span
        >
        <span
          class="bg-gradient-to-r from-sky-500 to-blue-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >SOLID</span
        >
        <span
          class="bg-gradient-to-r from-sky-500 to-blue-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Agile</span
        >
        <span
          class="bg-gradient-to-r from-sky-500 to-blue-500 text-white px-6 py-2 rounded-full shadow-lg transition-transform transform hover:scale-110 hover:shadow-2xl"
          >Kanban</span
        >
      </div>
    </div>
  </div>
</section>
