---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import type { Project } from "../../../interfaces/Project";
import Layout from "../../../layouts/Layout.astro";
import DemoLayout from "../../../layouts/DemoLayout.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  return projects.map((project: Project) => {
    const { slug, data } = project;
    const { title } = data;

    return {
      params: { id: slug },
      props: { project },
    };
  });
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const { data, slug } = project;
const { title, image } = data;

export const prerender = true;
---

<DemoLayout title={`Demo | ${title}`}>
  <main class="max-w-4xl mx-auto px-6 py-12">
    <div
      transition:name={`image-container-${slug}`}
      class="flex flex-col items-center bg-white space-y-4 sm:space-y-6 lg:space-y-8"
    >
      a
    </div>
  </main>
</DemoLayout>
